include LICENSE
include README.md
recursive-include docs *
recursive-include src/senaite/core/supermodel *
recursive-exclude src/senaite/core/supermodel *.pyc
recursive-exclude src/senaite/core/supermodel/tests *
recursive-exclude src/senaite/core/supermodel/docs *
